kind: Deployment
apiVersion: apps/v1
metadata:
    name: cartservice-deploy
    namespace: {{ .Values.namespace }}
    labels:
       app: cartservice
spec:
    strategy:
        type: {{ .Values.strategy.type }}
    replicas: {{ .Values.cartservice.replicasCount }}
    selector:
        matchLabels:
            app: cartservice
    template:
        metadata:
            labels:
                app: cartservice
        spec:
            containers:
              - name: cartservice
                image: docker.io/namanss/cartservice:{{ .Values.cartservice.imagetag }}
                ports:
                  - containerPort: 7070
                env:
                  - name: PORT
                    value: "7070"
                  - name: REDIS_ADDR
                    value: redis-cart-svc.{{ .Values.namespace }}.svc.cluster.local:6379
                  - name: DISABLE_TRACING
                    value: "true"
                  - name: DISABLE_PROFILER
                    value: "true"
                resources:
                  limits:
                    memory: "256Mi"
                    cpu: "300m"
                  requests:
                    memory: "100Mi"
                    cpu: "200m"
---
kind: Service
apiVersion: v1
metadata:
    name: cartservice-svc
    namespace: {{ .Values.namespace }}
    labels:
        app: cartservice
spec:
    selector:
        app: cartservice
    ports:
        - protocol: TCP
          port: 7070
          targetPort: 7070
    type: {{ .Values.cartservice.servicetype }}
---
kind: ServiceAccount
apiVersion: v1
metadata:
    name: cartservice-sa
    namespace: {{ .Values.namespace }}
    labels:
        app: cartservice
