kind: Deployment
apiVersion: apps/v1
metadata:
    name: emailservice-deploy
    namespace: {{ .Values.namespace }}
    labels:
        app: emailservice
spec:
    strategy:
        type: {{ .Values.strategy.type }}
    replicas: {{ .Values.emailservice.replicasCount }}
    selector: 
        matchLabels:
            app: emailservice
    template:
        metadata:
            labels:
                app: emailservice
        spec:
            containers:
            - name: emailservice
              image: namanss/emailservice:{{ .Values.emailservice.imagetag }}
              ports:
                - containerPort: 8080
              env:
                - name: PORT
                  value: "8080"
                - name: DISABLE_TRACING
                  value: "true"
                - name: DISABLE_PROFILER
                  value: "true"
              resources:
                requests:
                  memory: "128Mi"
                  cpu: "100m"
                limits:
                  memory: "200Mi"
                  cpu: "200m"
---
kind: Service
apiVersion: v1
metadata:
  name: emailservice-svc
  namespace: {{ .Values.namespace }}
  labels:
      app: emailservice
spec:
  selector:
      app: emailservice
  ports:
      - port: 8008
        targetPort: 8080
        protocol: TCP
  type: {{ .Values.emailservice.servicetype }}
---
kind: ServiceAccount
apiVersion: v1
metadata:
  name: emailservice-sa
  namespace: {{ .Values.namespace }}
  labels:
    app: emailservice