kind: Deployment
apiVersion: apps/v1
metadata:
  name: productcatalogservice-deploy
  namespace: {{ .Values.namespace }}
  labels:
    app: productcatalogservice
spec:
  replicas: {{ .Values.productcatalogservice.replicasCount }}
  strategy:
        type: {{ .Values.strategy.type }}
  selector:
    matchLabels:
      app: productcatalogservice
  template:
    metadata:
      labels:
        app: productcatalogservice
    spec:
      containers:
        - name: productcatalogservice
          image: namanss/productcatalogservice:{{ .Values.productcatalogservice.imagetag }}
          ports:
            - containerPort: 3550
          env:
            - name: PORT
              value: "3550"
            - name: DISABLE_TRACING
              value: "true"
            - name: DISABLE_PROFILER
              value: "true"
          resources:
            requests:
                memory: "100Mi"
                cpu: "100m"
            limits:
                memory: "128Mi"
                cpu: "180m"
---
kind: Service
apiVersion: v1
metadata:
    name: productcatalogservice-svc
    namespace: {{ .Values.namespace }}
    labels:
        app: productcatalogservice
spec:
    selector:
        app: productcatalogservice
    ports:
        - protocol: TCP
          port: 3550
          targetPort: 3550
    type: {{ .Values.productcatalogservice.servicetype }}
---
kind: ServiceAccount
apiVersion: v1
metadata:
  name: productcatalogservice-sa
  namespace: {{ .Values.namespace }}
  labels:
    app: productcatalogservice